.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  max-width: 1126px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #626262;
  padding-top: 50px;
  padding-bottom: 50px;
  flex: 0 0 auto;
}
.container > div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0px 20px;
}
.item {
  text-decoration: none;
  color: #626262;
  font-size: 14px;
}
.footer_logo {
  max-width: 60px;
  width: 100%;
}