.container {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.card__item {
  margin: 25px 25px;
  width: 100%;
  max-width: 200px;
}
