@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

body {
  margin: 0;
  font-family: 'RobotoSlab-Regular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1b2e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover!important;
  border-radius: 15px;
}
.swiper-slide {
  transition: all 0.5s ease;
  padding: 0px!important;
  flex-shrink: 0;
  /* width: 101.5%!important; */
  height: 100%;
  position: relative;
  transition-property: transform;
} 
.swiper-button-next, .swiper-button-prev {
  color: gainsboro!important;
}
.swiper-3d .swiper-slide-shadow-left {
  background: transparent!important;
  margin-right: 30px!important;
}
.swiper-3d .swiper-slide-shadow-right {
  background: transparent!important;
  margin-right: 30px!important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 23%!important;
  right: auto;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 23%!important;
  left: auto;
}

.swiper-slide-active {
  position: relative;
}
.swiper-slide.swiper-slide-prev {
  opacity: .2!important;
}
.swiper-slide.swiper-slide-next {
  opacity: .2!important;
}