.nav {
  margin: 0px 70px 0px 70px;
  padding: 15px 0px 20px 0px;
  background-color: #1f1b2e;
  max-width: 1126px;
  width: 100%;
  margin: 0 auto;
}

.nav__logo-main {
  width: 38px;
  height: 38px;
}

.nav__bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  white-space: nowrap;

}


.nav__item:nth-child(2) {
  margin-right: 16px;
}

.nav__item_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__link {
  text-decoration: none;
  color: rgba(255,255,255,.48);
  font-size: 14px;
  color: rgba(255, 255, 255, .48);
  font-size: 16px;
  padding: 28px 0px 4px 0px;
  cursor: pointer;
  color: ghostwhite;
}

.nav__link_white {
  color: #fff;
}

.nav__link_active {
  font-weight: 500;
}

.nav__link:hover {
  border-bottom: 2px solid ghostwhite;
}

.nav__item_first {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  display: none;
}

.nav__logo {
  max-width: 64px;
  width: 100%;
}

.nav__btn {
  /* width: 100px; */
  height: 32px;
  background: #5a556d;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  border: none;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  color: ghostwhite;
  padding-left: 11px;
  cursor: pointer;
}
.nav__btn_two{
  height: 32px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  border: none;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: -webkit-linear-gradient(135deg,#c447ff,#ea003d);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  color: ghostwhite;
  padding-left: 11px;
  cursor: pointer;
}

.nav__btn_text {
  color: ghostwhite;
  text-decoration: none;
  font-size: 14px;
}

.nav__btn:hover {
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.15);
}

.nav__btn_icon {
  width: 22px;
  position: absolute;
  top: 1.75px;
  left: 2.6px;
}

.nav__icon_wrapper {
  border-radius: 50%;
  /* background: #F9F9F9; */
  width: 26px;
  height: 26px;
  position: relative;
  margin-left: 7px;
}

#nav__menu-toggle {
  display: none;
}

.nav__menu-btn {
  display: none;
}

.hidden {
  display: none !important;
}

.search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__form {
  display: block;
  margin-top: 0em;
  position: relative;
  flex-grow: 2;
}

.search__input {
  position: relative;
  z-index: 12;
  width: 100%;
  height: 40px;
  padding: 8px 36px 8px 20px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background: #252525;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.search__icon {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: 0;
  padding: 0;
  background: transparent;
  color: #8c8c8c;
  right: -30px;
}

.search__icon__open {
  position: absolute;
  margin-top: -12px;
  top: 50%;
  z-index: 14;
}

.header_right,
.header_left {
  display: block;
  margin-top: 0em;
  position: relative;
  flex-grow: 1;
}

.headerSearch__close {
  position: absolute;
  z-index: 14;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: .4;
  cursor: pointer;
}

.headerSearch__background {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
}

.category__wrapper {
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.category__item {
  text-decoration: none;
  color: #020202;
}

.active {
  border-bottom: 2px solid #020202;
}

@media screen and (max-width: 520px) {
  .nav__bar {
    width: 100%;
  }
}
