
.wrapper {
  /* display: inline-block;
  width: 700px; 
  height: 700px; 
  text-align: center; 
  padding-top: 3px; */

    display: flex;
    position: absolute;
    height: 50vh;
    max-width: 100%;
    width: 90%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);

}

.wrapper_check {
  background: teal;
}

