.button_color{
    border-radius: 3px;
    border: none;
    font-weight: 600px;
    font-size: 14px;
    line-height: 2;
    color: #fff;
    width: 150px;
    background: linear-gradient(180deg,var(--start-gradient-color) 0%,var(--end-gradient-color) 100%);
    box-shadow: 0 0 104px var(--shadow-color);
    --start-gradient-color: #A869F0;
    --end-gradient-color: #834CC2;
    --shadow-color: #A869F0;
    cursor: pointer;
    z-index: 1;
    width: 250px;
    height: 50px;
}
.card_subscribe{
    /* width: 50%;
     height: 400px; */

}
.img_card_subscribe{
    /* width: 20px;
    height: 20px; */
}
.modal_window {
    position: absolute;
    top: 9%;
    left: 30%;
    right: 60vh; 
    bottom: 22vh;
    width: 600px;
     height: 80vh;
     border-radius: 15px;
     background-color: black;
     /* background-color: grey; */
     /* background: rgba(0, 0, 0, 0.8); */
     opacity: 0;
     transition: opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
     visibility: hidden;
}
.modal_window_active {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}
/* .modal_window_position{
 display: flex;
  justify-content: space-around;
   position: relative
}; */

.style_all_input{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 100px;
    margin: 50px 0;
    background-color: red;
}
.modal_window_dark::before{
    /* position: fixed;
    width: 100%;
    height: 100%;
background: black; */
content: '';
background: #000;
position: fixed; 
left: 0;
top: 0;
width: 100%; 
height: 100%;
opacity: 0.8;
z-index: 1;
}